.o_mail_compose_message.o_form_view {
    padding-top: 0px;
    padding-bottom: 0px;
    .oe_form_field_html_text .note-editor .note-editable {
        min-height: 282px;
    }
    .o_image {
        height: 55px;
    }
    .o_field_many2manytags .more {
        font-weight: bold;
        cursor: pointer;
    }
}
