.openerp .oe_reconciliation .oe_reconciliation_line .batch_deposits_selector {
    display: inline-block;
    margin-left: 5px;
    white-space: nowrap;
}
/* Override bootstrap styling */
.openerp .oe_reconciliation .oe_reconciliation_line .batch_deposits_selector .dropdown-menu {
    font-size: 1em !important;
}
